application/__pycache__
application/routers/__pycache__
application/models/__pycache__
local-test-materials/

# Environment variable files
.env
application/testing/tests/__pycache__/*.pyc
application/testing/fixtures/__pycache__/*.pyc
